<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">




    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- 会话Cookie模板 -->
    <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="sid"/>
        <property name="httpOnly" value="true"/> <!-- 设置为true，则客户端不会暴露给客户端脚本代码 -->
        <property name="maxAge" value="180000"/>  <!-- 设置Cookie的过期时间，秒为单位 -->
    </bean>
    <!-- 会话管理器 -->
    <bean id="sessionManager"
          class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="globalSessionTimeout" value="1800000"/> <!-- 话的全局过期时间（毫秒为单位），默认30分钟 -->
        <property name="sessionValidationSchedulerEnabled" value="true"/> <!-- 是否开启会话验证器，默认是开启的 -->
        <!--<property name="sessionValidationScheduler" ref="sessionValidationScheduler"/>  设置会话验证调度器，默认就是使用 -->
        <property name="sessionIdCookieEnabled" value="true"/> <!-- 默认使用了Servlet容器的JSESSIONID -->
        <property name="sessionIdCookie" ref="sessionIdCookie"/>
    </bean>

    <!-- 会话验证调度器 -->
    <!--<bean id="sessionValidationScheduler"
          class="org.apache.shiro.session.mgt.quartz.QuartzSessionValidationScheduler">
        <property name="sessionValidationInterval" value="1800000"/> &lt;!&ndash; 半个小时自动调用 &ndash;&gt;
        <property name="sessionManager" ref="sessionManager"/>
    </bean>-->

    <!-- 安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="ShiroRealm" />
        <property name="sessionManager" ref="sessionManager"/>
        <!--<property name="cacheManager" ref="cacheManager"/>-->
    </bean>

    <!-- 項目自定义的Realm -->
    <bean id="ShiroRealm" class="ssm.common.MyShiroRealm" ></bean>



    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>


    <!-- Shiro Filter 拦截器工厂 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager" />

        <property name="loginUrl" value="/login" />

        <property name="unauthorizedUrl" value="/login" />

        <property name="filterChainDefinitions">
            <value>
                /login 								= anon
                /toLogin							= anon
                /static/**							= anon
                /**  								= authc
            </value>
        </property>
    </bean>



</beans>