<% layout("/common/layout.html"){%>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>角色管理</title>
    <script type="text/javascript" src="/static/js/system/roleManage.js"></script>
    <style type="text/css">
        .divPosition{
            padding-top:10px;
        }


    </style>
</head>
<body>
<form class="divPosition" action="/system/RoleManageCtrl/toRoleIndex">
    <div class="am-form divgroup">
        <label>
            <select name="condition" lay-verify="required">
                <option value="-1">请选择</option>
                <option value="rolename" ${rolename! == true?'selected':''} >角色名</option>
            </select>
        </label>
        <div>
            <input type="text" name="conditionVal" value="${conditionVal!}" class="" placeholder="请输入查询条件">
        </div>
        <div>
            <button type="submit" class="am-btn am-btn-secondary">查询</button>&nbsp;&nbsp;
            <button type="button" class="am-btn am-btn-secondary" id="addRole">添加</button>
        </div>
    </div>


    <div >
        <table class="am-table am-table-bordered am-table-striped am-table-hover">
            <thead>
                <th style="width:75%;">角色名</th>
                <th>操作</th>
            </thead>
            <tbody>
            <%for(role in roleList!){%>
            <tr>
                <td>${role.rolename!}</td>
                <td>
                    <a href="javascript:;" value="${role.roleid}" rolename="${role.rolename}" class="chmodrolepri">分配权限</a>
                    <a href="javascript:;" value="${role.roleid}" rolename="${role.rolename}" class="editRole">修改</a>
                    <a href="javascript:;" value="${role.roleid}" class="delRole">删除</a>
                </td>
            </tr>
            <%}%>

            </tbody>

        </table>
        <div class="pagin">
            ${page.pageStr}
        </div>
    </div>
</form>
</body>
</html>

<%}%>
